* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: lightgray;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 100px;
    background: grey;
}

h2 {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: .7px;
    user-select: none;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    padding: 8px 16px;
    margin: 0 8px;
    transition: .2s;
}

button {
    font-size: 16px;
    background: rgb(28, 177, 236);
    color: #fff;
    border: none;
    outline: none;
    padding: 8px 24px;
    border-radius: 8px;
}

.active, nav a:hover {
    color: rgb(28, 177, 236);
}